[submodule "schlussel"]
	path = schlussel
	url = git@github.com:zudaR107/schlussel.git
[submodule "schloss"]
	path = schloss
	url = git@github.com:zudaR107/schloss.git
[submodule "kuvert"]
	path = kuvert
	url = git@github.com:zudaR107/kuvert.git
[submodule "tor"]
	path = tor
	url = git@github.com:zudaR107/tor.git
[submodule "schloss-ui"]
	path = schloss-ui
	url = git@github.com:zudaR107/schloss-ui.git
